{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <p>
        <a href="{{ path('book_index') }}" class="btn btn-default">Liste des livres</a>
    </p>
    <br>
    <div class="authors">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.nbCopies) }}

        <h3>Auteurs</h3>
        <div class="book_authors" data-prototype="{{ form_widget(edit_form.authors.vars.prototype)|e }}">
            {% for author in edit_form.authors %}
                <div class="form-group">
                    {{ form_row(author.firstname) }}
                    {{ form_row(author.lastname) }}
                    {{ form_row(author.nickname) }}
                </div>
            {% endfor %}
        </div>
        {{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-default'}, 'label': 'Modifier'}) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@TutoLibraryBundle/Resources/public/js/book.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}