{% extends 'base.html.twig' %}

{% block body %}
    <div class="books">
        <h1 class="page-header">Liste des livres</h1>
        <br>
        <p>
            <a href="{{ path('book_new') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter un livre
            </a>
        </p>
        <br>
    {% if books is empty %}
        <div class="alert alert-danger"><strong>Pas de livres</strong></div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre de copies</th>
                <th>Auteurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.nbCopies }}</td>
                    <td>
                        <ul class="list-unstyled">
                        {% for author in book.authors %}
                                <li>{{ author.nickname }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;Détails
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    </div>
{% endblock %}