{% extends 'base.html.twig' %}

{% block body %}
    <p>
        <a href="{{ path('book_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Liste des livres
        </a>
    </p>
    <br>
    <div class="row">
        <div class="col-sm-6 books">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.nbCopies) }}

            <h3>Auteur(s)</h3>
            <div class="book_authors" data-prototype="{{ form_widget(form.authors.vars.prototype)|e }}">
                <br>
                {% for author in form.authors %}
                    <div class="form-group author_item">
                        {{ form_row(author.firstname) }}
                        {{ form_row(author.lastname) }}
                        {{ form_row(author.nickname) }}
                    </div>
                {% endfor %}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}, 'label': 'Ajouter ce livre'}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@TutoLibraryBundle/Resources/public/js/book.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}