{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Détails livre</h1>

    <div>
        <a href="{{ path('book_index') }}" class="btn btn-default">Liste des livres</a>
        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-primary">Modifier</a>
        {{ form_start(delete_form, { 'attr': { 'style': 'display: inline' } }) }}
        <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Nombre de copies</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.nbCopies }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
