{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Détails du livre {{ book.title }}</h1>

    <div>
        <a href="{{ path('book_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Liste des livres
        </a>
        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier
        </a>
        {{ form_start(delete_form, { 'attr': { 'style': 'display: inline' } }) }}
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;Supprimer
            </button>
        {{ form_end(delete_form) }}
    </div>
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Nombre de copies</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.nbCopies }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
