{% extends 'base.html.twig' %}

{% block body %}
    <div class="auhors">
        <h1 class="page-header">Liste des auteurs</h1>
        <br>
        <p>
            <a href="{{ path('author_new') }}" class="btn btn-default">Créer un auteur</a>
        </p>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nom d'artiste</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                    <td>{{ author.firstname }}</td>
                    <td>{{ author.lastname }}</td>
                    <td>{{ author.nickname }}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-default">Détails</a>
                            </li>
                            <li>
                                <a href="{{ path('author_edit', { 'id': author.id }) }}" class="btn btn-primary">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}