{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Détails auteur</h1>

    <div>
        <a href="{{ path('author_index') }}" class="btn btn-default">Liste des auteurs</a>
        <a href="{{ path('author_edit', { 'id': author.id }) }}" class="btn btn-primary">Modifier</a>
        {{ form_start(delete_form, { 'attr': { 'style': 'display: inline' } }) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
    <br>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{ author.firstname }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ author.lastname }}</td>
            </tr>
            <tr>
                <td>Nom d'artiste</td>
                <td>{{ author.nickname }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
